@import url('../index.less');

.card {
    width: 200px;

    .tag {
        color: rgb(233, 250, 215);
    }
}

.body {
    padding: (@distance / 2);
}

.header,
.footer {
    margin: 0 !important;
    text-align: center;
    padding: (@distance / 2);
}

.footer {
    border-top: 1px solid var(--border-color-base);
}