.snapshot {
  border: 1px solid var(--border-color-base);
  border-radius: var(--border-radius-base);
  margin-bottom: @distance;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }
}

.preview {
  padding: @distance @distance 0 @distance;
  text-align: right;
  max-width: 100%;
  background-color: var(--component-background);

  .view {
    text-align: left;
  }
}

.toolbar {
  display: flex;
  justify-content: center;

  .btn {
    width: fit-content;
    background-color: rgba(221, 221, 221, 0.5);
    padding: 0 16px;
    text-align: center;
    cursor: pointer;
    float: right;
    margin-left: 8px;
    margin-top: 16px;
    border-radius: @border-radius-base @border-radius-base 0 0;
    user-select: none;

    &:hover,
    &.open {
      color: @primary-color;
      background-color: var(--primary-color-deprecated-bg);
    }
  }
}

.editor {
  padding: 24px;
  animation: silde-in @transition-duration @transition-timing-function;
}

.code {
  :global(.@{prefix-cls}-markdown-box) {
    padding: @distance;
    animation: silde-in @transition-duration @transition-timing-function;
  }

  :global(.@{prefix-cls}-markdown-box), pre {
    margin: 0;
  }

  :global(.sp-layout) {
    width: 100%;
  }
}

.snapshot, .preview, .toolbar, .code, .btn, .editor {
  transition-duration: @transition-duration;
  transition-timing-function: @transition-timing-function;
  transition-property: border-color, background-color, box-shadow, padding, height;
}

.cols-5 {
  display: inline-flex;
  flex-direction: column;
  width: calc((100% - 24px) / 2);
  margin-right: 16px;

  .title {
    padding: 16px;
    margin: 0;

    &::before {
      content: none;
    }
  }

  &:nth-of-type(2n) {
    margin-right: 0;
  }
}

@keyframes silde-in {
  0% {
    opacity: 0.2;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}