.@{prefix-cls}-capture-screen {
    display: block;

    &-video {
        position: relative;

        video {
            width: 100%;
            border: 1px solid var(--border-color-base);
            border-radius: var(--border-radius-base);
            transition: border-color @transition-duration @transition-timing-function;
        }
    
        &-recording,
        &-paused {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 10px;
            height: 10px;
            border-radius: 5px;
        }
    
        &-recording {
            background-color: var(--success-color);
            animation: record-fade-loop 2s infinite;
        }
    
        &-paused {
            background-color: var(--warning-color);
        }
    }

    &-controller {
        display: flex;
        margin: 16px 0;

        &-record {
            display: flex;
            margin-left: 16px;
        
            &::before {
                display: block;
                height: 100%;
                border-left: 1px solid var(--border-color-base);
                transform: translateX(-16px);
                transition: border-color @transition-duration @transition-timing-function;
                content: '';
            }
        }
    }
}

@keyframes record-fade-loop {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}