@import url('tailwindcss/base');

@layer base {
  @font-face {
    font-family: 'neko__icon';
    src: url('./iconfont.woff2') format('woff2');
  }

  [data-theme='dark'] {
    --table-row-hover-bg: #262626;
    --blockquote-bg: rgba(40, 40, 40, 0.5);
    --blockquote-icon-color: #6a483b;
    --blockquote-color: #b3b3ae;
    --details-bg: #1d1d1d;
    --details-border-color: rgba(153, 153, 153, 0.5);
    --details-summary-color: var(--blockquote-color);
    --md-mark-color: #e9887c;
    --mark-bg: rgba(249, 242, 244, 0.1);
    --toc-bg: rgba(23, 23, 23, 0.8);
  }

  :root {
    --table-border-color: rgba(0, 0, 0, 0.06);
  }

  .neko-icon {
    font-size: 16px;
    font-family: 'neko__icon', sans-serif !important;
    font-style: normal;
  }

  .iconmacos-add::before {
    content: '\e641';
  }

  .iconmacos-close::before {
    content: '\e642';
  }

  .iconmacos-minimize::before {
    content: '\e643';
  }

  .iconnight::before {
    content: '\e688';
  }

  .iconlight::before {
    content: '\e6e9';
  }

  .iconlogout::before {
    content: '\e607';
  }

  .iconlogin::before {
    content: '\e608';
  }

  .icontimeline::before {
    content: '\e609';
  }

  .iconavatar::before {
    content: '\e600';
  }

  .iconhome::before {
    content: '\e6ae';
  }

  .iconcopy::before {
    content: '\e631';
  }

  .icontheme::before {
    content: '\e63c';
  }

  .iconmark-right::before {
    content: '\e68d';
  }

  .iconmark-left::before {
    content: '\e68e';
  }

  .iconxiala::before {
    content: '\e611';
  }

  .iconclose::before {
    content: '\e720';
  }

  .icon14CIRCLE::before {
    content: '\e640';
  }

  .iconwarning::before {
    content: '\e670';
  }

  .iconinfo::before {
    content: '\e6eb';
  }

  .iconsuccess::before {
    content: '\e726';
  }

  .iconzan-f::before {
    content: '\e669';
  }

  [data-copy]::before {
    position: absolute;
    top: 32px;
    right: 0;
    left: 0;
    z-index: 1;
    display: inline-block;
    width: fit-content;
    margin: auto;
    padding: 4px 8px;
    font-size: 12px;
    border: 1px solid;
    border-radius: var(--border-radius-base);
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    animation-fill-mode: forwards;
    content: '\590d\5236\6210\529f';
  }

  [data-copy='success']::before {
    color: var(--success-color);
    background-color: var(--success-color-deprecated-bg);
    border-color: var(--success-color-deprecated-border);
    animation: copy-slide-in 0.3s ease-in-out;
    content: '\590d\5236\6210\529f';
  }

  [data-copy='failure']::before {
    color: var(--error-color);
    background-color: var(--error-color-deprecated-bg);
    border-color: var(--error-color-deprecated-border);
    animation: copy-slide-in 0.3s ease-in-out, error 1s ease-in-out 1s;
    content: '\590d\5236\5931\8d25';
  }

  [data-copy-exit]::before {
    animation: copy-slide-out 0.3s forwards ease-in-out;
  }

  @keyframes copy-slide-in {
    from {
      transform: translate3d(0, -100%, 0) scale(0);
      opacity: 0;
    }

    to {
      transform: translate3d(0, 0, 0) scale(1);
      opacity: 1;
    }
  }

  @keyframes copy-slide-out {
    from {
      transform: translate3d(0, 0, 0) scale(1);
      opacity: 1;
    }

    to {
      transform: translate3d(0, -100%, 0) scale(0);
      opacity: 0;
    }
  }
  .n-md-box {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    max-width: 1280px;
    gap: 24px;
    margin: 0 auto;
  }
  .n-md-body {
    box-sizing: border-box;
    border-radius: var(--border-radius-base, 0);
    background-color: var(--component-background, rgba(255, 255, 255, 0.8));
    padding: 24px;
    margin: 0 auto 24px;
    overflow-wrap: break-word;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    transition-property: background-color;
    backdrop-filter: blur(16px);
    flex: 1;
    overflow: hidden;
    max-width: 1280px;
  }

  .n-md-body .sp-layout {
    width: 100%;
  }
  .n-md-body .n-md-body {
    margin: 0;
    padding: 0;
    background-color: unset;
    overflow: visible;
  }
  .n-md-body h1::before,
  .n-md-body h2::before,
  .n-md-body h3::before,
  .n-md-body h4::before,
  .n-md-body h5::before,
  .n-md-body h6::before {
    color: var(--primary-color);
    content: attr(data-prefix) '# ';
  }
  .n-md-body [data-prefix]::before {
    color: var(--primary-color);
    content: attr(data-prefix);
  }

  .n-md-body ol,
  .n-md-toc ol {
    margin: 0;
    padding: 0 0 0 24px;
  }

  .n-md-toc {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 10;
    margin: 0;
    max-width: 200px;
    display: block;
    height: fit-content;
    max-height: 75%;
    padding: 16px;
    overflow-y: auto;
    background-color: var(--toc-bg, rgba(255, 255, 255, 0.8));
    backdrop-filter: blur(16px);
    border-radius: var(--border-radius-base);
    box-shadow: var(--box-shadow-small);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    transition-property: border-color, background-color, box-shadow;
  }

  .n-md-toc li,
  .n-md-toc ol {
    list-style: none;
    display: grid;
    width: fit-content;
    max-width: 100%;
  }

  .n-md-toc li a {
    max-width: 100%;
    font-size: 12px;
    text-decoration: none;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    transition-property: color;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--text-color, rgba(0, 0, 0, 0.65));
  }

  .n-md-toc .active,
  .n-md-toc .active a {
    color: var(--primary-color, rgba(0, 0, 0, 0.65));
  }

  .n-md-body p > code,
  .n-md-body h1 > code,
  .n-md-body h2 > code,
  .n-md-body h3 > code,
  .n-md-body h4 > code,
  .n-md-body h5 > code,
  .n-md-body h6 > code,
  .n-md-body li > code,
  .n-md-body mark {
    padding: 2px 4px;
    color: var(--md-mark-color, #e9887c);
    font-size: 90%;
    background-color: var(--mark-bg, #f9f2f4);
    border-radius: var(--border-radius-base, 4px);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    transition-property: background-color, color;
  }

  .n-md-body a {
    position: relative;
    color: var(--text-color, rgba(0, 0, 0, 0.65));
    text-decoration: none;
  }

  .n-md-body a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color-hover);
    transform: scaleX(0);
    transform-origin: center;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    transition-property: transform, background-color;
    content: '';
  }

  .n-md-body a:visited {
    color: var(--text-color-secondary, rgba(0, 0, 0, 0.45));
  }

  .n-md-body a:hover {
    color: var(--primary-color-hover);
  }

  .n-md-body a:hover::after {
    transform: scaleX(1);
  }

  .n-md-body h1,
  .n-md-body h2,
  .n-md-body h3,
  .n-md-body h4,
  .n-md-body h5 {
    margin-top: 1em;
    margin-bottom: 1em;
    color: var(--heading-color);
    font-weight: 500;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    transition-property: border-color, background-color, box-shadow, color;
  }

  .n-md-body p,
  .n-md-body dl {
    margin-bottom: 1em;
    padding: 0;
  }

  .n-md-body h1 {
    font-size: 1.6em;
    line-height: 54px;
  }

  .n-md-body h2 {
    font-size: 1.5em;
    line-height: 42px;
    counter-increment: section;
  }

  .n-md-body h2::before {
    content: counter(section) '. ';
  }

  .n-md-body h1,
  .n-md-body h2 {
    padding-bottom: 10px;
    border-bottom: 1px dotted var(--border-color-base);
  }

  .n-md-body h3 {
    font-size: 1.4em;
    line-height: 30px;
  }

  .n-md-body h4 {
    font-size: 1.3em;
    line-height: 28px;
  }

  .n-md-body h5 {
    font-size: 1.2em;
    list-style: none;
  }

  .n-md-body hr {
    height: 2px;
    margin: 16px 0;
    padding: 0;
    color: var(--text-color);
    text-align: left;
    background-color: var(--border-color-base);
    border: 0 none;
  }

  .n-md-body p,
  .n-md-body ul,
  .n-md-body ol {
    font-size: var(--font-size-base, 14px);
  }

  .n-md-body dl {
    padding: 0;
  }

  .n-md-body dl dt {
    margin-top: 16px;
    padding: 10px 0;
    font-weight: bold;
    font-size: 1em;
    font-style: italic;
  }

  .n-md-body dl dd {
    margin-bottom: 16px;
    margin-left: 0;
    padding: 0 16px;
  }

  .n-md-body table {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border-bottom: 1px solid var(--border-color-base);
    border-radius: 5px;
    border-spacing: 0;
    transition-property: border-color;
  }

  .n-md-body table tbody tr[role='row']:hover {
    background-color: var(--table-row-hover-bg, rgba(60, 90, 100, 0.04));
  }

  .n-md-body table tr[role='row'] th[role='gridcell'] {
    padding: 10px;
    color: var(--heading-color);
    background-color: var(--border-color-base);
    transition-property: background-color, color;
  }

  .n-md-body table td[role='gridcell'] {
    padding: 10px;
    border-color: var(--border-color-base);
    border-style: dotted;
    border-width: 0 0 1px 1px;
    transition-property: border-color;
  }

  .n-md-body table td[role='gridcell']:first-of-type {
    border-left: 1px solid var(--border-color-base);
  }

  .n-md-body table td[role='gridcell']:last-of-type {
    border-right: 1px solid var(--border-color-base);
  }

  .n-md-body table tr[role='row']:last-of-type td[role='gridcell'] {
    border-bottom: none;
  }

  .n-md-body table,
  .n-md-body tr th,
  .n-md-body tr td,
  .n-md-body blockquote,
  .n-md-body blockquote::after,
  .n-md-body blockquote::before,
  .n-md-body blockquote p {
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }

  .n-md-body blockquote {
    position: relative;
    margin: 30px 60px;
    padding: 16px;
    font-weight: 500;
    background-color: var(--blockquote-bg, #ecf8ff);
    border-radius: 8px;
    transition-property: background-color;
  }

  .n-md-body blockquote::before,
  .n-md-body blockquote::after {
    position: absolute;
    color: var(--blockquote-icon-color, #fb5);
    font-size: 48px;
    font-family: 'neko__icon', sans-serif;
    transition-property: color;
  }

  .n-md-body blockquote::before {
    top: -8px;
    left: 0;
    transform: translateX(-53px);
    content: '\e68e';
  }

  .n-md-body blockquote::after {
    right: 0;
    bottom: -8px;
    transform: translateX(53px);
    content: '\e68d';
  }

  .n-md-body blockquote cite {
    color: var(--cite-color, #bfbfbf);
    font-size: var(--font-size-base, 14px);
    line-height: 20px;
  }

  .n-md-body blockquote cite::before {
    content: '\2014 \00A0';
  }

  .n-md-body blockquote p {
    margin: auto 0;
    color: var(--blockquote-color, #5e6d82);
    font-size: var(--font-size-base, 14px);
    line-height: 24px;
    transition-property: color;
  }

  .n-md-body p {
    line-height: 1.8;
    vertical-align: baseline;
    word-wrap: break-word;
    word-break: break-word;
  }

  .n-md-body p img {
    position: relative;
    display: block;
    max-width: 100%;
    margin: auto;
    border-radius: 8px;
    cursor: pointer;
  }

  .n-md-body details {
    padding: 20px;
    overflow: hidden;
    background: var(--details-bg, #fafaff);
    border-left: 5px solid var(--details-border-color, #b4b3ff);
    border-radius: var(--border-radius-base, 4px);
    user-select: none;
  }

  .n-md-body details:not(:last-of-type) {
    margin-bottom: 15px;
  }

  .n-md-body details summary,
  .n-md-body details summary ~ * {
    color: var(--details-summary-color, #0e1c4e);
    font-weight: normal;
    font-size: 14px;
    font-style: normal;
    line-height: 1.4;
  }

  .n-md-body details summary:not(:last-of-type) .n-md-body details summary ~ *:not(:last-of-type) {
    margin-bottom: 10px;
  }

  .n-md-body details summary ~ * {
    padding-left: 30px;
  }

  .n-md-body details summary {
    margin-bottom: 0;
    list-style-image: url('./summary-plus.svg');
    outline: none;
    cursor: pointer;
  }

  .n-md-body details summary::-webkit-details-marker {
    width: 16px;
    height: 16px;
    margin-right: 18px;
    color: transparent;
    background-image: url('./summary-close.svg');
    background-size: 100% 100%;
    transform: translateY(2px);
  }

  .n-md-body details[open] {
    user-select: auto;
  }

  .n-md-body details[open] summary {
    margin-bottom: 10px;
    font-weight: 700;
    list-style-image: url('./summary-plus.svg');
  }

  .n-md-body details[open] summary::-webkit-details-marker {
    width: 12px;
    height: 12px;
    margin-right: 20px;
    color: transparent;
    background-image: url('./summary-close.svg');
    background-size: 100% 100%;
    transform: translateY(1px);
  }

  .n-md-body details[open] summary ~ * {
    padding-left: 32px;
  }
}
