@font-face {
  font-family: neko-icon;
  src: url('./iconfont.woff2') format('woff2');
}

[data-theme='dark'] {
  --table-row-hover-bg: #262626;
  --blockquote-bg: rgb(40 40 40 / 50%);
  --blockquote-icon-color: #6a483b;
  --blockquote-color: #b3b3ae;
  --details-bg: #1d1d1d;
  --details-border-color: rgb(153 153 153 / 50%);
  --details-summary-color: var(--blockquote-color);
  --md-mark-color: #e9887c;
  --mark-bg: rgb(249 242 244 / 10%);
  --toc-bg: rgb(23 23 23 / 80%);
  --shadow-lite: rgb(255 255 255 / 6%);
}

:root {
  --table-border-color: rgb(0 0 0 / 6%);
  --shadow-lite: rgb(0 0 0 / 6%);
}

.neko-icon {
  font-size: inherit;
  font-family: neko-icon, sans-serif !important;
  font-style: normal;
  line-height: normal;
}

[data-copy]::before {
  position: absolute;
  top: 32px;
  right: 0;
  left: 0;
  z-index: 1;
  display: inline-block;
  margin: auto;
  border: 1px solid;
  border-radius: var(--border-radius, 8px);
  padding: 4px 8px;
  width: fit-content;
  font-size: var(--font-size-sm, 12px);
  transition: background-color .2s, color .2s, border-color .2s;
  animation-fill-mode: forwards;
  content: '\590d\5236\6210\529f';
}

[data-copy='success']::before {
  border-color: var(--success-color-border, #b7eb8f);
  color: var(--success-color, #52c41a);
  background-color: var(--success-color-bg, #f6ffed);
  animation: copy-slide-in .3s ease-in-out;
  content: '\590d\5236\6210\529f';
}

[data-copy='failure']::before {
  border-color: var(--error-color-border, #ffccc7);
  color: var(--error-color, #ff4d4f);
  background-color: var(--error-color-bg, #fff2f0);
  animation: copy-slide-in .3s ease-in-out, error 1s ease-in-out 1s;
  content: '\590d\5236\5931\8d25';
}

[data-copy-exit]::before {
  animation: copy-slide-out .3s forwards ease-in-out;
}

@keyframes copy-slide-in {
  from {
    transform: translate3d(0, -100%, 0) scale(0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes copy-slide-out {
  from {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }

  to {
    transform: translate3d(0, -100%, 0) scale(0);
    opacity: 0;
  }
}

.n-md-box {
  position: relative;
  display: flex;
  margin: 0 auto;
  max-width: 80rem;
  flex-direction: row-reverse;
  gap: 1rem;
}

.n-md-body {
  overflow: hidden;
  margin: 0 auto 1.5rem;
  border-radius: var(--border-radius, 8px);
  padding: 1.5rem;
  max-width: 80rem;
  background-color: var(--component-background, rgb(255 255 255 / 80%));
  box-sizing: border-box;
  overflow-wrap: break-word;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: background-color;
  backdrop-filter: blur(1rem);
  flex: 1;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 2%);
}

.n-md-body a {
  position: relative;
  text-decoration: none;
  color: var(--text-color, rgb(0 0 0 / 65%));
}

.n-md-toc {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  overflow-y: auto;
  margin: 0;
  border-radius: var(--border-radius, 8px);
  padding: 16px;
  max-width: 200px;
  height: fit-content;
  max-height: calc(100vh - 112px);
  background-color: var(--toc-bg, rgb(255 255 255 / 80%));
  box-sizing: border-box;
  backdrop-filter: blur(16px);
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 2%);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: border-color, background-color, box-shadow;
}

.n-md-toc li,
.n-md-toc ol {
  display: grid;
  width: fit-content;
  max-width: 100%;
  list-style: none;
}

.n-md-toc li a {
  overflow: hidden;
  max-width: 100%;
  font-size: var(--font-size-sm, 12px);
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  color: var(--text-color, rgb(0 0 0 / 65%));
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: color;
}

.n-md-toc .active,
.n-md-toc .active a {
  color: var(--primary-color, #5794ff);
  text-shadow: 0 1px var(--text-shadow-color);
}

.n-md-body a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color-hover, #80b3ff);
  transform: scaleX(0);
  transform-origin: center;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: transform, background-color;
  content: '';
}

.n-md-body a:visited {
  color: var(--text-secondary, #4e4e4e);
}

.n-md-body a:hover {
  color: var(--primary-color-hover, #80b3ff);
}

.n-md-body a:hover::after {
  transform: scaleX(1);
}

.n-md-body .sp-layout {
  width: 100%;
}

.n-md-body .n-md-body {
  overflow: visible;
  margin: 0;
  padding: 0;
  background-color: unset;
  backdrop-filter: none;
  box-shadow: none;
}

.n-md-body h1::before,
.n-md-body h2::before,
.n-md-body h3::before,
.n-md-body h4::before,
.n-md-body h5::before,
.n-md-body h6::before {
  color: var(--primary-color, #5794ff);
  content: attr(data-prefix);
}

h1[data-prefix]::before,
h2[data-prefix]::before,
h3[data-prefix]::before,
h4[data-prefix]::before,
h5[data-prefix]::before,
h6[data-prefix]::before {
  color: var(--primary-color, #5794ff);
  content: attr(data-prefix) !important;
}

.n-md-body ol,
.n-md-toc ol {
  margin: 0;
  padding: 0 0 0 24px;
}

.n-md-body p > code,
.n-md-body h1 > code,
.n-md-body h2 > code,
.n-md-body h3 > code,
.n-md-body h4 > code,
.n-md-body h5 > code,
.n-md-body h6 > code,
.n-md-body li > code,
.n-md-body td > code,
.n-md-body mark,
.n-md-body code:not([class]) {
  border-radius: var(--border-radius, 8px);
  padding: 2px 7px;
  font-size: 90%;
  color: var(--md-mark-color, #cd9278);
  background-color: var(--mark-bg, #f9f2f4);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: background-color, color;
}

.n-md-body h1,
.n-md-body h2,
.n-md-body h3,
.n-md-body h4,
.n-md-body h5 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 500;
  color: var(--text-heading, #1b1b1b);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: border-color, background-color, box-shadow, color;
}

.n-md-body table,
.n-md-body tr th,
.n-md-body tr td,
blockquote,
blockquote::after,
blockquote::before,
blockquote p {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.n-md-body p,
.n-md-body dl {
  margin-bottom: 1em;
  padding: 0;
}

.n-md-body h1 {
  font-size: 1.6em;
  line-height: 54px;
}

.n-md-body h2 {
  font-size: 1.5em;
  line-height: 42px;
  counter-increment: section;
}

.n-md-body h2::before {
  content: counter(section) '. ';
}

.n-md-body h1,
.n-md-body h2 {
  border-bottom: 1px dotted var(--border-color, #d9d9d9);
  padding-bottom: 10px;
}

.n-md-body h3 {
  font-size: 1.4em;
  line-height: 30px;
}

.n-md-body h4 {
  font-size: 1.3em;
  line-height: 28px;
}

.n-md-body h5 {
  font-size: 1.2em;
  list-style: none;
}

.n-md-body hr {
  margin: 16px 0;
  border: 0 none;
  padding: 0;
  height: 2px;
  text-align: left;
  color: var(--text-color);
  background-color: var(--border-color, #d9d9d9);
}

.n-md-body p {
  line-height: 1.8;
  vertical-align: baseline;
  word-wrap: break-word;
  word-break: break-word;
}

.n-md-body p img {
  position: relative;
  display: block;
  margin: auto;
  border-radius: var(--border-radius, 8px);
  max-width: 100%;
  cursor: pointer;
}

.n-md-body p,
.n-md-body ul,
.n-md-body ol {
  font-size: var(--font-size, 14px);
}

.n-md-body dl {
  padding: 0;
}

.n-md-body dl dt {
  margin-top: 16px;
  padding: 10px 0;
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}

.n-md-body dl dd {
  margin-bottom: 16px;
  margin-left: 0;
  padding: 0 16px;
}

.n-md-body table {
  overflow: hidden;
  border-bottom: 1px solid var(--border-color, #d9d9d9);
  border-radius: var(--border-radius, 8px);
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  transition-property: border-color;
}

.n-md-body table tbody tr[role='row']:hover {
  background-color: var(--table-row-hover-bg, rgb(60 90 100 / 4%));
}

.n-md-body table tr[role='row'] th[role='gridcell'] {
  padding: 10px;
  color: var(--text-heading, #1b1b1b);
  background-color: var(--border-color, #d9d9d9);
  transition-property: background-color, color;
}

.n-md-body table td[role='gridcell'] {
  border-style: dotted;
  border-width: 0 0 1px 1px;
  border-color: var(--border-color, #d9d9d9);
  padding: 10px;
  transition-property: border-color;
}

.n-md-body table td[role='gridcell']:first-of-type {
  border-left: 1px solid var(--border-color, #d9d9d9);
}

.n-md-body table td[role='gridcell']:last-of-type {
  border-right: 1px solid var(--border-color, #d9d9d9);
}

.n-md-body table tr[role='row']:last-of-type td[role='gridcell'] {
  border-bottom: none;
}

.n-md-body blockquote {
  position: relative;
  margin: 30px 54px;
  border-radius: var(--border-radius, 8px);
  padding: 16px;
  font-weight: 500;
  background-color: var(--blockquote-bg, #ecf8ff);
  transition-property: background-color;
}

.n-md-body blockquote::before,
.n-md-body blockquote::after {
  position: absolute;
  font-size: 2rem;
  font-family: neko-icon, sans-serif;
  color: var(--blockquote-icon-color, #fb5);
  transition-property: color;
  content: '\e68d';
}

.n-md-body blockquote::before {
  top: -8px;
  left: 0;
  transform: translateX(-53px) rotate(180deg);
}

.n-md-body blockquote::after {
  right: 0;
  bottom: -8px;
  transform: translateX(53px);
}

.n-md-body blockquote.n-tip {
  margin: 16px 0 16px 8px;
  border-left: 4px solid var(--primary-color, #5794ff);
}

.n-md-body blockquote.n-tip::after {
  content: none;
}

.n-md-body blockquote.n-tip::before {
  top: 18px;
  left: -12px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: var(--primary-color, #5794ff);
  transform: none;
  content: "!";
  line-height: 20px;
}

.n-md-body blockquote cite {
  font-size: var(--font-size, 14px);
  color: var(--cite-color, #bfbfbf);
  line-height: 20px;
}

.n-md-body blockquote cite::before {
  content: '\2014 \00A0';
}

.n-md-body blockquote p {
  margin: auto 0;
  font-size: var(--font-size, 14px);
  color: var(--blockquote-color, #5e6d82);
  line-height: 24px;
  transition-property: color;
}

.n-md-body details {
  overflow: hidden;
  border-left: 5px solid var(--primary-color-border, #5794ff);
  border-radius: var(--border-radius, 8px);
  padding: 12px 24px;
  background: var(--details-bg, #fafaff);
  box-sizing: border-box;
  user-select: none;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 5%);
}

.n-md-body details,
.n-md-body details summary {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: background-color, transform, border-color;
}

.n-md-body details:not(:last-of-type) {
  margin-bottom: 16px;
}

.n-md-body details >summary,
.n-md-body details >summary ~ * {
  font-size: var(--font-size, 14px);
  font-weight: normal;
  color: var(--details-summary-color, #0e1c4e);
  font-style: normal;
  line-height: 1.4;
  transition-property: background-color, transform, border-color, margin;
}

.n-md-body details >summary:not(:last-of-type) .n-md-body details >summary ~ *:not(:last-of-type) {
  margin-bottom: 16px;
}

.n-md-body details >summary {
  font-weight: 500;
  outline: none;
  cursor: pointer;
  transform: translateX(-18px);
}

.n-md-body details > summary::-webkit-details-marker,
.n-md-body details > summary::marker {
  display: none;
  color: transparent;
}

.n-md-body details >summary::before {
  display: inline-block;
  margin-right: 4px;
  width: 14px;
  font-size: var(--font-size-sm, 12px);
  font-family: neko-icon, sans-serif;
  font-weight: lighter;
  text-align: center;
  opacity: 0.2;
  content: '\e63f';
}

.n-md-body details[open] {
  user-select: auto;
}

.n-md-body details[open] >details {
  margin-top: 10px;
}

.n-md-body details[open] >summary {
  margin-bottom: 10px;
}

.n-md-body details[open] >summary::before {
  transform: rotate(90deg);
}
