.empty {
  flex: 1;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: @distance;
}

.info {
    display: flex;
    align-items: flex-end;

    h3 {
        margin: 0;
    }
}

.desc {
    margin-left: 16px;
}
