.@{prefix-cls}-site-layout {
  display: flex;
  max-height: 100vh;
  height: 100%;
}

.@{prefix-cls}-site-empty,
.@{prefix-cls}-site-empty > main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.@{prefix-cls}-site-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;

  > main {
    overflow-y: auto;
  }
}

.@{prefix-cls}-site-readme {
  padding: 100px @distance @distance;
  z-index: 1;
  flex: 1;
  overflow-x: hidden;
  transition-property: background-color;
  transition-duration: @transition-duration;
  transition-timing-function: @transition-timing-function;
  > .@{prefix-cls}-back-top {
    position: absolute;
  }
}

> header,
> footer {
  z-index: 2;
}

[data-theme='dark'] {
  --readme-bg: #171717;
}

// body {
//   background-image: linear-gradient(red, yellow, blue, green, pink);
// }