.header {
    width: calc(100% - 346px);
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0 @distance;
    position: fixed;
    top: 16px;
    right: 16px;
    background-color: var(--header-bg, rgba(255, 255, 255, 0.9));
    backdrop-filter: blur(16px);
    border-radius: @border-radius-base @border-radius-base 0 0;
    z-index: 2;
    box-shadow: 0 1px 1px 0 var(--header-shadow, rgba(0, 0, 0, 0.05));
    transition-duration: @transition-duration;
    transition-timing-function: @transition-timing-function;
    transition-property: box-shadow, background-color;
}

.left {
    display: flex;
    align-items: flex-end;
    flex: 1;

    h2 {
        margin: 0 16px;
    }

    .sub-title {
        opacity: 0.7;
    }
}

.switch-theme {
    font-size: 24px;
    padding: 4px;
    cursor: pointer;
}
